select#thePiece {
  font: 16pt 'Times New Roman'
}

.lookhear {
  font: bold 18pt fantasy
}

.desctitle {
  font-weight:bold;
  font-style:italic;
  font-size:larger;
}

.insttitle {
  font-weight:bold;
  font-size:larger;
}

h1 {
  margin:0px !important;
}
p#description {
  margin-top: -30px;
  font: 10pt 'Times New Roman'
}

div {
  margin:0px;
  padding:0px;
}
.chooser{
  float:left;

}
#instructions td {
  border:thin solid blue;
  padding:20px;
}

#thePiece {
  position:absolute;
  right:0px;
  top:0px;
}
.slider{
  float:left;
  clear:right;
  width:100%;
}
#theTime {
  padding-left:20px;
  clear:left;
}
#timeSlider{
  width:100%;
}
.pane {
}
.ui-layout-north {
  background-color:#aaccff;
  background-image:url(/images/paperbackground.jpg);
  text-align:center;
  padding:0px;
  margin:0px;
  font: bold 24pt fantasy
}


h1 {
  padding:0px;
  margin:0px;
}


.ui-layout-center {
background-color:#d6d6c2;
background-image:url(/images/desk_texture.jpg);

}

.ui-layout-east h1{
  font-size:12pt;
}

.ui-layout-east {
  background-color:#ffcc66;
  font:9pt Times,serif;
}
.ui-layout-west {
  background-color:#ffe6b3;

}

.ui-layout-south {
  background-image:url(/images/paper2.jpg);
  font:11pt Times,serif;
}

.slider{
 width:85%;
}

.chooser{
  width:10%;
  height: 20px;

}

.part{
  width:100%
}

/* START LOADING SCREEN */

#content {
  display: block;
}

.bottomcentre {
  display: none;
  background-color: #b0751c;
  padding-top: 299px;
  height: 299px;
}

.bottomcontent {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #b0751c;
}

.centre {
    background-color: #f5e0c0;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    border-top: 1px #76533d solid;
    padding-top: 299px;
    }
.note {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    color: #76533d;
    background: #76533d;
    border-radius: 50%;
    bottom:1px;
    transform: translate( 0, 0) rotate(0deg);
    }
.note:after {
    display: block;
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    bottom:-8px;
    right: 0px;
    border-right: 3px #76533d solid;
    /*animation: grow 1s infinite;*/
}
.one {
    margin-left: -30px;
    animation: jump_one 1s infinite;
    animation-delay: 50ms;
}
.two {
    margin-left: 0px;
    animation: jump_two 1s infinite;
    animation-delay: 300ms;
}
.three {
    margin-left: 30px;
    animation: jump_three 1s infinite;
    animation-delay: 400ms;
}
.note.one:after {
    height: 0px;
    bottom: 10px;
    animation: grow 1s infinite;
    animation-delay: 50ms;
}
.note.two:after {
    height: 0px;
    bottom: 10px;
    animation: grow 1s infinite;
    animation-delay: 300ms;
}
.note.three:after {
    height: 0px;
    bottom: 9px;
    animation: grow_three 1s infinite;
    animation-delay: 400ms;
}
.note.three:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 0px;
    bottom:24px;
    left: 11px;
    transform: rotate(40deg);
    border-radius: 10px;
    border-top: 3px #76533d solid;
    animation: grow_tail 1s infinite;
}
@keyframes jump_one {
    0% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    5% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    40% {
        transform: translate( 0, -16px) rotate(-30deg);
    }
    60% {
        transform: translate( 0, -16px) rotate(-30deg);
    }
    100% {
        transform: translate( 0px, 0) rotate(0deg);
    }
}
@keyframes jump_two {
    0% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    5% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    40% {
        transform: translate( 0, -28px) rotate(10deg);
    }
    55% {
        transform: translate( 0, -28px) rotate(10deg);
    }
    100% {
        transform: translate( 0px, 0) rotate(0deg);
    }
}
@keyframes jump_three {
    0% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    5% {
        transform: translate( 0, 0px) rotate(0deg);
    }
    40% {
        transform: translate( 0, -20px) rotate(30deg);
    }
    55% {
        transform: translate( 0, -20px) rotate(30deg);
    }
    100% {
        transform: translate( 0px, 0) rotate(0deg);
    }
}
@keyframes grow {
    0% {
        height: 0;
    }
    3% {
        height: 0;
    }
    50% {
        height: 22px;
    }
    70% {
        height: 10px;
    }
    100% {
        height:0;
    }
}
@keyframes grow_three {
    0% {
        height: 0;
    }
    3% {
        height: 17px;
    }
    45% {
        height: 17px;
    }
    55% {
        height: 17px;
    }
    70% {
        height: 0px;
    }
    100% {
        height:0;
    }
}
@keyframes grow_tail {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    60% {
        width: 12px;
    }
    77% {
        width: 12px;
    }
    84% {
        width: 12px;
    }
100% {
        width:0;
    }
}

/* END LOADING SCREEN */
