html, body {
  background:	#fff;
  width:		100%;
  height:		100%;
  padding:	0;
  margin:		0;
  overflow:	auto; /* when page gets too small */
}
#container {
  background:	#fff;
  height:		100%;
  margin:		0 auto;
  width:		100%;
  max-width:	2900px;
  min-width:	70px;
  _width:		700px; /* min-width for IE6 */
}
.pane {
  /* display:	none; /* will appear when layout inits */

.slider, #timeSlider{
    width:100%
  }
}
