extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/lookhear") LookHear
    li
      a(href="/videodemo") Video Demo
    li
      a(href="/multivideodemo") MultipleVideo Demo
