doctype html
html
  head
    title= title
    link(type="text/css", rel="stylesheet", href="/style/layout-default.css")
    link(type="text/css", rel="stylesheet", href="/style/style.css")
    link(type="text/css", rel="stylesheet", href="/style/musicapp5.css")
  body
    block content
