<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the LookHear Music App">
    <meta name="author" content="Sarah Mead and Timothy Hickey">
    <link type="text/css" rel="stylesheet" href="/style/layout-default.css">
    <link type="text/css" rel="stylesheet" href="/style/style0.css">
    <link type="text/css" rel="stylesheet" href="/style/musicapp5.css">
</head>

<body>
  <%- body %>
</body>

</html>
