extends layout

block content

  div#container(class="flex-container")
    div(class="pane ui-layout-north")
      h1 LookHear
      p#description An insider’s view of 16th-c polyphony: its notation and its sound - developed by Timothy Hickey & Sarah Mead
      br
      span#message ALPHA VERSION

      select#thePiece(onChange="changePiece()")
        option Select a piece
        option(value="ortoMotet") De Orto: Ave Maria</option>
        option(value="zirlerMotet") Zirler: Beati omnes</option>
      button(onclick="resizePart()", style="float:right") refresh
    div(class="pane ui-layout-center")
      span#theTime 0.00
      div#slider
        input(id="timeSlider",type="range",min="0",max="100",step="1",value="0",data-orientation="vertical",width="100%")
      div#partdiv(class="part nopadding")
        img#source(class="noPadding2", src="", width="0", height="0", alt="part")
        canvas#thePart(width="100%")

    div(class="pane ui-layout-south")
      h3 How to use <span class="lookhear"> LookHear</span>
      br
      p#description
        |<span class="insttitle">Choose a piece from the menu in the upper-right corner:</span><br>
        |The left-hand window lets you watch the players; the center window displays the notation.<br>
        |Adjust the relative size of the windows by clicking and sliding the dividing-bar.<br>
        |Close or open any window by clicking the center of the dividing-bar.
      br
      br
      p#description
      |<span class="insttitle">Navigate with the letter keys:</span><br>
      |Choose to watch the full group (S) or all five camera-angles (X) alongside the modern score.<br>
      |Navigate among the individual parts to see the original notation:
      |Cantus (C), Altus (A), Tenor (T) and Bassus (B)
      br
      br
      p#description
      |<span class="insttitle">Play the music:</span><br>
      |Use the time-slider to fast-forward or move to a specific point in the music.<br>
      |Press the P key to Pause and Play.
      |Press the S key to return to the Start of the piece.


    div(class="pane ui-layout-east", style="width:50%")
      h1 The Music

      div(class="partintro description")
        | Select a piece of music using the menu in the upper right corner of the screen.

      div(class="ortoMotet description")
        p
          |Marbrianus de Orto (c.1460-1529)<br>
          |<i>Ave Maria gratia plena</i><br>
          |4-voice motet based on plainsong melody

        p
          |<span class="desctitle">Source:</span><br>
          |Petrucci: <i>Harmonice musices odhecaton A</i> (Venice, 1501)<br>
          |Single book with all parts on facing pages<br>
          |1st piece [A3v-A4r] of 96 in the collection<br>

        p
          |<span class="desctitle">Performers:</span><br>
          |<b>Nota Bene</b> viol consort<br>
          |<i>Cantus:</i> Sarah Mead<br>
          |<i>Altus:</i> Wendy Gillespie<br>
          |<i>Tenor:</i> Joanna Blendulf<br>
          |<i>Bassus:</i> Emily Walhout


      div class="zirlerMotet description">
        p
          |Stephan Zirler (c.1518-1568)<br>
          |<i>Beati omnes qui timent Dominum</i><br>
          |4-voice motet

        p
          |<span class="desctitle">Source:</span><br>
          |Stephani: <i>Beati omnes. Psalmus CXXVII. Davidis.</i> (Nuremberg, 1569) <br>
          |Four individual partbooks containing multiple settings of Psalm 128
          |in 6, 5, and 4 parts<br>
          |15th [XV] of 17 settings by different composers<br>

        p
          |<span class="desctitle">Performers:</span><br>
          |<b>Nota Bene</b> viol consort<br>
          |<i>Cantus:</i> Wendy Gillespie<br>
          |<i>Altus:</i> Sarah Mead<br>
          |<i>Tenor:</i> Joanna Blendulf<br>
          |<i>Bassus:</i> Emily Walhout


    div(class="pane ui-layout-west")
      div(class="video nopadding")

        video(width="0%", id= 'altus', class="musicvideo noPadding")
        video(width="0%", id= 'score', class="musicvideo noPadding")
        video(width="0%", id= 'cantus', class="musicvideo noPadding")
        video(width="0%", id= 'tenor', class="musicvideo noPadding")
        video(width="0%", id= 'bassus', class="musicvideo noPadding")
        video(width="0%", id= 'mastermenu', class="musicvideo noPadding")
  script(type="text/javascript", src="/js/jquery.js")
  script(type="text/javascript", src="/js/jquery-ui.js")
  script(type="text/javascript", src="js/jquery.layout.js")
  script(src="lib/animations.js")
  script(src="pieces/ortoMotet/animations/altus.js")
  script(src="pieces/ortoMotet/animations/cantus.js")
  script(src="pieces/ortoMotet/animations/bassus.js")
  script(src="pieces/ortoMotet/animations/tenor.js")
  script(src="pieces/ortoMotet/animations/score.js")
  script(src="lib/rangeslider.js")
  script(src="javascripts/multivideodemo.js")
  script(src="lib/musicapp4.js")

  script(type="text/javascript" src="js/startCode.js")
