<% layout('/layout') -%>

<h1></h1>
<p>Welcome to </p>
<div id="message"></div>
<input type="file" multiple="multiple" accept="video/*"/><br>
<button id="play">Preload and play the videos</button>
<video controls="controls" id="Cantus" autoplay="autoplay" width="25%"></video>
<video controls="controls" id="Altus" autoplay="autoplay" width="25%"></video>
<video controls="controls" id="Tenor" autoplay="autoplay" width="25%"></video>
<video controls="controls" id="Bassus" autoplay="autoplay" width="25%"></video><br>
<video controls="controls" id="Master" autoplay="autoplay" width="50%"></video>
<video controls="controls" id="MasterMenu" autoplay="autoplay" width="50%"></video><br>
<script src="javascripts/multivideodemo.js"></script>
